body{
    background-color:rgb(244, 220, 224); 
}
#enter{
    background-color:rgb(170, 213, 189);
    margin: 2%;
}
#clear{
    background-color:rgb(231, 171, 181);

}

h1{
    margin-left: 5%; margin-top: 4%;
}
p{
    margin-left: 5%;
}
.yes{
    font-size: 20px;
    margin-left: 5% ; margin-right: 1% ;
}

