body{
    background-color:rgb(244, 220, 224); 
}
h1{
    font-size: 30px;margin-left: 2%; 
}
h2, h3{
    font-size: 24px; margin-left: 2%;
}

.words{
    font-size: 24px; margin-left: 2%; 
}

.btn{
    font-size: 15px; margin-left: 2%; margin-top:5%;
}