body{
    background-color:rgb(244, 220, 224); 
}
h1{
    font-size: 30px;margin-left: 2%; 
}
h2, h3{
    font-size: 24px; margin-left: 1em; margin-bottom: 0;
}

.words{
    font-size: 24px; margin-left: 2%; 
}

.btn{
    font-size: 15px; margin-left: 2%; margin-top:1%; border-radius: .5em;
}

#clear{
    margin: 1em;
}
#card{
    background-color: rgb(216, 174, 238) ; width: 20em; margin: 2%; 
    border-style: solid; border-width:2px; border-color:rgb(216, 174, 238);border-radius: 1em;
}